<div>
  <div class="card" style="border: 2px solid purple;">
    <div class="card-body">
      you can edit the name tab
      <h2>{{tab_name}}</h2>

      <button class="btn btn-success" *ngIf="editflag" type="button" (click)="editTab()">Edit</button>
      <input class="form-control" placeholder="Enter component name" *ngIf="!editflag" type="text" name="component_x" [(ngModel)]="tab_name">
      <br>
      <button class="btn btn-primary" *ngIf="!editflag" type="button" (click)="saveTab()">Save</button>
    </div>

  <button class="btn btn-primary" (click)="addComponent()"> + </button>

    <app-component-y  [Name]="tab_name" *ngFor="let component of components"></app-component-y>
  </div>
</div>

